<%- include("partials/header.ejs") %>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
          <label for="blogTitle">Title</label>
          <input type="text" class="form-control" id="" placeholder="Blog Title">
          
        </div>
        <div class="form-group">
          <label for="blogPOst">Post</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
      </form>

        <label for="title">Title</label>
        <input type="text" name="postTitle" autocomplete="off">

        <label for="post">Post</label>
        <textarea type="text" name="post" cols="40" rows="5"></textarea>
        <button type="submit" name="button">Publish</button>


<%- include("partials/footer.ejs") %>